<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Prevent direct access to template files -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="templates" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".html" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <!-- URL Rewrite rules -->
        <rewrite>
            <rules>
                <!-- Block direct template access -->
                <rule name="Block Templates" stopProcessing="true">
                    <match url="^templates/.*" />
                    <action type="CustomResponse" statusCode="403" statusDescription="Forbidden" />
                </rule>
                
                <!-- Redirect template URLs to main app -->
                <rule name="Redirect Templates" stopProcessing="true">
                    <match url="^templates/(.*)$" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Custom headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=edge" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Static content settings -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        
        <!-- Default documents -->
        <defaultDocument>
            <files>
                <clear />
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration> 